@font-face {
   font-family: Pacifico-Regular, sans-serif;
   src: url('fonts/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Raleway-Rugular, sans-serif;
   src: url('fonts/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Raleway-Light, sans-serif;
   src: url('fonts/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: Raleway-SemiBold, sans-serif;
   src: url('fontsxkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
   font-weight: 600;
   font-style: normal;
}

html {
   background-image: url('../img/large-banner-image.png');
   background-repeat: no-repeat;
   width: 1600px;
   height: 700px;
}

.focus {
   position: relative;
   left: 680px;
   top: 115px;
}

.header h1:nth-child(1) {
   font-family: Pacifico-Regular, sans-serif;
   font-size: 60px;
   text-align: center;
   top: 120px;
   padding-left: 78px;
   padding-top: 48px;
}

.header p:nth-child(2) {
   font-family: Raleway-Light, sans-serif;
   font-size: 36px;
   text-align: center;
   line-height: 150px;
}

.down {
   top: 320px;
   margin-left: 770px;
}

.iphone {
   position: absolute;
   top: 400px;
   left: 570px;
}

.white-1 {
   position: relative;
   top: 260px;
   left: 717px;
}

.white-2 {
   position: relative;
   top: 170px;
   left: 815px;
}

.white-3 {
   position: relative;
   top: 470px;
   left: 655px;
}

.black-dot {
   position: relative;
   top: 380px;
   left: 759px;
}

.cursor {
   position: relative;
   top: 385px;
   left: 734px;
}

.angled {
   position: relative;
   top: 481px;
   left: 715px;
}

.four-parts h2 {
   font-family: Raleway-SemiBold, sans-serif;
   font-size: 22px;
}

.four-parts p {
   position: relative;
   font-family: Helvetica-Neue, sans-serif;
   font-weight: 400;
   font-size: 16px;
   padding-top: 18px;
   line-height: 25px;
}

.Great-Feature {
   margin-top: 300px;
   margin-left: 271px;
   width: 320px;
   height: 120px;
}

.Great-Feature-Two {
   position: absolute;
   margin-top: -130px;
   margin-left: 1030px;
   width: 320px;
   height: 120px;
   line-height: 30px;
}

.Another-Great-Feature-Three {
   padding-top: 40px;
   margin-left: 270px;
   width: 320px;
   height: 120px;
   line-height: 30px;
}

.Another-Great-Feature-Four {
   margin-top: -115px;
   margin-left: 1030px;
   width: 320px;
   height: 120px;
   line-height: 28px;
}

.Get {
   position: relative;
   margin-top: 210px;
   margin-left: 210px;
   width: 560px;
   height: 144px;
}

.Get h2 {
   padding-bottom: 5px;
}

.apple {
   margin-top: 28px;
   margin-left: 210px;
   padding-right: 15px;
}

.android {
   padding-right: 10px;
}

.cursor-left {
   top: 1460px;
   margin-left: -40px;
}

.video-image {
   position: absolute;
   top: 1255px;
   left: 890px;
   width: 500px;
   height: 307px;
}

.play {
   position: relative;
   left: 910px;
}

.video-play-bar {
   position: relative;
   left: 910px;
}

.an-app p {
   font-family: Raleway-Rugular, sans-serif;
   font-size: 24px;
   text-align: center;
   margin-top: 138px;
   margin-left: -10px;
}

.an-app h2 {
   font-family: Helvetica-Neue, sans-serif;
   font-weight: 500;
   font-size: 14px;
   margin-top: 25px;
   margin-left: 733px;
}

.an-app h3 {
   font-family: Helvetica-Neue, sans-serif;
   font-weight: 400;
   font-size: 14px;
   margin-left: 817px;
   margin-top: -15px;
}

.people {
   position: absolute;
   margin-top: 55px;
   width: 1600px;
   height: 318px;
}

.active-person {
   position: relative;
   margin-top: 133px;
   margin-left: 915px;
}

.cursor-3 {
   position: relative;
   margin-top: -20px;
   margin-left: 925px;
}

.say h2 {
   font-family: Raleway-SemiBold, sans-serif;
   font-size: 24px;
   margin-top: 200px;
   margin-left: 680px;
}

.say p {
   font-family: Helvetica-Neue, sans-serif;
   font-weight: 400;
   font-size: 16px;
   margin-top: 22px;
   margin-left: 555px;
}

.bottom-image {
   height: 40px;
   margin-top: 20px;
}

.bottom-image > div {
   margin: auto;
   width: 260px;
   display: flex;
   justify-content: space-between;
}

.cursor-4 {
   position: relative;
   margin-top: -60px;
   margin-left: 780px;
}

footer {
   background-color: #e3e3e3;
   height: 100px;
   line-height: 100px;
}

footer > div {
   margin: auto;
   width: 540px;
   display: flex;
   justify-content: space-between;
}

footer > div > a {
   text-decoration: none;
   color: #848484;
}
