@font-face {
   font-family: Pacifico-Regular, sans-serif;
   src: url('fonts/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Raleway-Rugular;
   src: url('fonts/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: Raleway-Light;
   src: url('fonts/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: Raleway-SemiBold;
   src: url('fontsxkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2') format('woff2');
   font-weight: 600;
   font-style: normal;
}

html {
   background-image: url('../comps/focus.jpg');
   background-repeat: no-repeat;
   width: 1600px;
   height: 2494px;
}

.focus {
   position: relative;
   left: 680px;
   top: 115px;
}

.header h1:nth-child(1) {
   font-family: Pacifico-Regular, sans-serif;
   font-weight: 400;
   font-size: 60px;
   text-align: center;
   top: 120px;
   padding-left: 78px;
   padding-top: 48px;
}

.header p:nth-child(2) {
   font-family: Raleway-Light, sans-serif;
   font-size: 36px;
   text-align: center;
   line-height: 150px;
}

.iphone {
   position: absolute;
   left: 100px;
}

.one {
   width: 320px;
   margin-left: 270px;
}

h2 {
   font-family: Raleway-Light, sans-serif;
   font-size: 28px;
}
