@font-face {
   font-family:'Pacifico-Regular';
   src:url(`fonts/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2`)format('woff2');
   font-weight:60;
   font-style:normal;
}
@font-face {
   font-family:'Raleway-Rugular';
   src:url(`fonts/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2`)format('woff2');
   font-weight:24;
   font-style:normal;
}
@font-face {
   font-family:'Raleway-Light';
   src:url(`fonts/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2`)format('woff2');
   font-weight:36;
   font-style:normal;
}
@font-face {
   font-family:'Raleway-SemiBold';
   src: url(`fonts/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2`)format('woff2');
   font-weight:22;
   font-style: normal;
}
html {
   background-image: url('../img/large-banner-image.png');
   background-repeat: no-repeat;
   height: 700px;
}
.img-iphone{
   position: absolute;
   margin-top: 400px;
   margin-left: 625px;
}
.header h1:nth-child(1){
   font-family: 'Pacifico-Regular';
   text-align: center;
   margin-top: 120px;
}
.header p:nth-child(2){
   font-family:'Raleway-Light';
   position: absolute;
   margin-top: 240px;
   margin-left: 480px;
}
